@import "../../../../shareds/colors.scss";

.search {
  justify-content: center;
  gap: 1rem;
}

.user-message {
  padding: 2rem 0.1rem;
  background: linear-gradient(90deg, #15161e 0%, #202337 100%);
  border-left: 4px solid $pure-cyan;
  color: $light-gray;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: 0 0 10px $rare-deep-blue;
  animation: fadeIn 0.3s ease-in-out;
  width: 100%;
}

.game-card {
  width: 220px;
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px $orange-overlay;

    .overlay {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .cover-container {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
      display: block;
    }
  }

  .rating {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    z-index: 2;

    &.green {
      background-color: $pure-green;
    }

    &.yellow {
      background-color: $pure-yellow;
    }

    &.orange {
      background-color: $pure-orange;
    }

    &.red {
      background-color: $pure-red;
    }
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.75);
    color: $pure-white;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 3;

    .date,
    .title {
      margin-bottom: 10px;
    }

    .title {
      color: $pure-cyan;
    }

    .platform {
      color: $neutral-gray;
    }
  }
}
