<div class="status-list-container carousel-container">
  <!-- <div class="carousel-section">
    <app-game-carousel [connectedDropLists]="dropListIds"></app-game-carousel>
  </div>

  <div class="status-columns">
    <div
      class="status-column"
      *ngFor="let status of statusList"
      [ngClass]="'status-' + status.toLowerCase()"
    >
      <div class="status-header">{{ status }}</div>

      <div
        class="status-dropzone"
        cdkDropList
        cdkDropListSortingDisabled="true"
        [id]="'status-drop-' + status"
        [cdkDropListData]="statusGames[status]"
        [cdkDropListConnectedTo]="dropListIds"
        (cdkDropListDropped)="onDrop($event, status)"
      >
        <div
          *ngFor="let game of statusGames[status]"
          class="game-in-status"
          cdkDrag
          [cdkDragData]="game"
        > -->
          <!-- <img [src]="getFullCoverUrl(game.coverImage)" [alt]="game.title" /> -->
          <!-- <button class="remove-button" (click)="removeGame(game)">×</button> -->
        </div>
<!-- 
        <div *ngIf="statusGames[status]?.length === 0" class="empty-dropzone">
          <span>Arraste jogos para aqui</span>
        </div>
      </div>
    </div>
  </div>
</div> -->