// =============================================
// Cores Base
// =============================================
$pure-black: #000000;
$pure-white: #ffffff;
$pure-orange: #ff5e00;
$pure-red: #ff0000;
$pure-yellow: #ffd000;
$pure-green: #00ff88;
$pure-cyan: #00ffc3;

// =============================================
// Escala de Cinza
// =============================================
$void-black: #1b1b1b;
$cloud-gray: #888;
$mist-gray: #67686952;
$dark-gray: #2c2c2c;
$light-gray: rgb(59, 58, 58);
$rare-deep-blue: #0070f3;
$neutral-gray: #bbb;

// =============================================
// Escala de Plataformas
// =============================================
$xbox-green: #107c10;
$playstation-blue: #00439c;
$steam-gray: #9e9e9e;
$nintendo-red: #e60012;

$orange-overlay: #ff5e0088;

$success-green: #28a745;
$success-green-dark: #218838;