// =============================================
// Cores Base
// =============================================
$pure-black: #000000;
$pure-white: #ffffff;
$pure-orange: #ff5e00;
$pure-red: #ff0000;
$pure-yellow: #ffd000;
$pure-cyan: #00ffc3;
$rare-deep-blue: #0070f3;

// =============================================
// Escala de Cinza
// =============================================

$void-black: #1b1b1b;
$cloud-gray: #888;
$mist-gray: #67686952;
$dark-gray: #2c2c2c;
$light-gray: rgb(59, 58, 58);

// =============================================
// Escala de Plataformas
// =============================================
$xbox-green: #107C10;
$playstation-blue: #00439C;
$steam-gray: #9e9e9e;
$nintendo-red: #E60012;

$cosmic-blue: #dd2929;
$background-color: rgba($cosmic-blue, 0.8);