<div class="container-side-menu">
  <!-- MENU LATERAL -->
  <div
    class="side-menu"
    [class.menu-open]="menuExpanded"
    [class.collapsed]="!menuExpanded && !isSmallScreen"
  >
    <!-- Botão colapsar/expandir para DESKTOP -->
    <button class="menu-toggle" (click)="toggleMenu()" *ngIf="!isSmallScreen">
      <mat-icon>{{ menuExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
    </button>

    <!-- Botão fechar estilo IGN para MOBILE -->
    <button class="menu-close-icon" (click)="toggleMenu()" *ngIf="isSmallScreen">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <div class="menu-header" *ngIf="menuExpanded">
      <h2>Game Board</h2>
    </div>

    <ul class="menu-list">
      <li
        *ngFor="let item of menuItems"
        class="menu-item"
        [class.open]="selectedMenuTitle === item.label"
      >
        <div
          class="main-item"
          (click)="toggleSubmenu(item)"
          [title]="!menuExpanded ? item.label : ''"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          <span *ngIf="menuExpanded">{{ item.label }}</span>
          <mat-icon class="arrow" *ngIf="item.submenu">
            {{ selectedMenuTitle === item.label ? 'expand_less' : 'expand_more' }}
          </mat-icon>
        </div>
        <ul
          class="submenu"
          *ngIf="
            item.submenu && selectedMenuTitle === item.label && (menuExpanded || isSmallScreen)
          "
        >
          <li *ngFor="let subItem of item.submenu" (click)="navigateTo(subItem)">
            {{ subItem.label }}
          </li>
        </ul>
      </li>
    </ul>

    <div class="menu-footer" *ngIf="menuExpanded">
      <div class="auth-buttons">
        <button class="auth-btn">Entrar</button>
        <button class="auth-btn">Registrar</button>
      </div>
    </div>
  </div>

  <div class="menu-overlay" *ngIf="menuExpanded && isSmallScreen" (click)="toggleMenu()"></div>

  <app-header
    [isSmallScreen]="isSmallScreen"
    [menuExpanded]="menuExpanded"
    (menuToggle)="toggleMenu()"
  ></app-header>

  <div
    class="content"
    [class.menu-pushed]="menuExpanded && isSmallScreen"
    [class.menu-collapsed]="!menuExpanded && !isSmallScreen"
  >
    <router-outlet></router-outlet>
  </div>
</div>
