@import "../../../../shareds/colors.scss";

.featured-news {
  background-color: $dark-gray;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba($pure-black, 0.35);

  .featured-image {
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: top;
    border-radius: 0;
  }

  .featured-content {
    padding: 20px;

    .date {
      color: rgba($pure-white, 0.6);
      display: block;
    }
  }
}
